.container {
    height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCFBF7;
}

.wrapper {
    position: relative;
    height: 70%;
    width: 56rem;
    border-radius: 8px;
    padding: 2rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

.wrapper:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #FCFBF7c8;
    backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to bottom, #000 50%, transparent);
    mask-image: linear-gradient(to bottom, #000 25%, transparent);
}

.wrapper:after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #FCFBF7c8;
    backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to top, #000 50%, transparent);
    mask-image: linear-gradient(to top, #000 25%, transparent);
}

/* 
.blur {
    backdrop-filter: blur(10px);
    -webkit-mask-image: linear-gradient(to bottom, #000 25%, transparent);
    mask-image: linear-gradient(to bottom, #000 25%, transparent);
} */

.text {
    margin: 10% 0;
    font-size: 28px;
    line-height: 160%;
    color: #353534;
    font-family: 'Inclusive Sans', sans-serif;
}


