
.modal {
    width: 20rem;
    padding: 1rem;
    border: solid 1px var(--color);
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow-sm);
    color: var(--color);
    font-weight: 600;
}

.visible,
.hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s;
}

.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 1s;
}

.subtitle {
    font-size: 16px;
}

/* .subtitle:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    height: 10px;
    width: 10px;
    background-color: var(--color);
} */