.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1rem;
    user-select: none;
    cursor: pointer;

}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 24px;
    width: 24px;
    background-color: aquamarine;
    border-radius: 100%;
    transition: 0.2s all;
}

.option:hover > .label {
    opacity: 1;
    top: 0;
    transform: scale(1);
}

.option:hover > .icon {
    transform: scale(1.2);
}
.label {
    display: block;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.2s all;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    
}