@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');


.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: 'Inclusive Sans', sans-serif;
}

.highlight {
  animation: highlight 2s ease-in-out;
  background-image: linear-gradient(rgba(var(--markColor), 0.25), rgba(var(--markColor), 0.25));
  background-repeat: no-repeat;
}

*::selection {
  background: #e6e26e9a;
}

@keyframes highlight {
  0% {
    background-size: 0% 100%;
  }

  100% {
    background-size: 100% 100%;
  }

}